@import url('https://fonts.googleapis.com/css?family=Lustria|Montserrat|Quicksand|Roboto+Condensed');


body {
background: #C4C7CA;

}
/* Styling for all fonts *//
h1 h2 h3 {
	font-size: 100%;
	font-family: 'Roboto Condensed', sans-serif;
	transform: uppercase;

}
/* Start of styling for the scoreboard */
.scoreboard {
	background-color: white;
	margin:0;
	padding:0;
	width: 300%;
	height: 300%;
}

/* Styling for all buttons */ 
.play {

}
